<div class=contextual>
  <%= link_to l(:label_all_auto_update_rules), auto_update_rules_path, class: "icon-auto-update-status" %>
</div>

<h2><%= "#{l(:label_edit_auto_update_rule)}" %></h2>

<div id="all_attributes">
  <%= render :partial => 'form' %>
</div>
