#admin-menu a.auto-update-rules {
    background-image: url(../images/icon-workflow-rules.png);
}

.icon-auto-update-status {
    background-image: url(../images/icon-workflow-rules.png);
    padding-left: 25px;
    background-repeat:no-repeat;
}

#auto_update_rule .value{
    font-weight: bold;
}
